[submodule "vendor/BOSL2"]
	path = vendor/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "vendor/gridfinity-rebuilt"]
	path = vendor/gridfinity-rebuilt
	url = https://github.com/kennetek/gridfinity-rebuilt-openscad.git
[submodule "vendor/GoProScad"]
	path = vendor/GoProScad
	url = https://github.com/ridercz/GoProScad.git
[submodule "vendor/QuackWorks"]
	path = vendor/QuackWorks
	url = https://github.com/AndyLevesque/QuackWorks.git
[submodule "vendor/bitbeam-lib"]
	path = vendor/bitbeam-lib
	url = https://github.com/ondratu/bitbeam-lib.git
